header h1 {
    font-size: 24pt;
    font-size: 11vw;
}

.menu {
    margin-bottom: -10px; /* Counteracts inter-row padding added by skel. */
}
.menu nav {
    background-color: #0e7d8a;
}
.menu nav ul li {
    padding: 0px;
}
.menu nav ul li a {
    display: inline-block;
    padding: 10px 0px;
    width: 100%;
}

nav#skip {
    margin-bottom: -10px;
}

#sidebar > section {
    padding: 0px 15px;
}

#content > section {
    padding: 0px 15px;
}
#content h2, h3 {
    text-transform: uppercase;
    color: #2a2a2a;
}
#content h2 {
    padding: 0px 0px 40px 0px;
    font-size: 20pt;
}
#content h3 {
    padding: 30px 0px 10px 0px;
    font-size: 16pt;
}
div.expanded-event h3 {
    font-size: 16pt;
}
#content #map-noscript h3 {
    font-size: 14pt;
}
#content img:not(.interface) {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
}

#bulletin-carousel .carousel-indicators li {
    display: none;
}

div.copyright span {
    display: block;
}
div.copyright span.separator {
    display: none;
}
